<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>
<nav>
    <span><a href="/">首页</a></span>
    <% if(user){ %>
    <span><a href="/post">发表</a></span>
    <span><a href="/logout">退出</a></span>
    <% }else{ %>
    <span><a href="/login">登录</a></span>
    <spab><a href="/reg">注册</a></spab>
    <% } %>
</nav>

<article>
    <% if(success){ %>
    <div><%= success %></div>
    <% } %>
    <% if(error){ %>
    <div><%= error %></div>
<% } %>